.web-resume-d {
  margin: 1cm 1cm;
  box-sizing: border-box;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.name-web-d {
  font-size: 30px;
  padding-bottom: 20px;
}

.jobTitle-web-d {
  font-size: 20px;
  color: rgb(53 125 255);
  padding-bottom: 5px;
}

.professionalSummary-web-d {
  padding-bottom: 30px;
}

.email-phoneNumber-location-linkedIn-persoanlWeb-d {
  display: flex;
  background-color: #6f8cd1;
  color: white;
  justify-content: space-around;
}

.email-phoneNumber-location-linkedIn-persoanlWeb-d div {
  list-style-type: none;
  padding: 10px 20px;
  display: flex;
  font-size: 14px;
}

.email-phoneNumber-location-linkedIn-persoanlWeb-d div img {
  padding-right: 10px;
}

.sub-heading-web-d {
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.skill-list-d {
  font-size: 16px;
  display: inline-block;
  color: white;
  font-weight: 400;

  padding: 5px 7px;
  margin-bottom: 5px;
}

.skill-list-d div {
  background-color: #6f8cd1;
  display: inline-block;
  padding: 7px 15px;
  margin: 1.5px 3px;
  font-weight: 400;
}

.work-experience-web-d ul li {
  font-size: 17px;
}

.degreeName-web-d {
  font-weight: 600;
  font-size: 18px;
}

.collegeName-web-d {
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 2px;
}

.startDAte-endDate-web-d {
  color: rgb(107, 103, 103);
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.lang-web-d {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.lang-web-div-d {
  display: flex;
  justify-content: space-between;
  margin-right: 4cm;
}

.english-webd-d div {
  font-weight: 600;
}

.hindi-web-d div {
  font-weight: 600;
}

.aa {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.download-btn {
  background-color: rgb(250, 49, 49);
  color: white;
  display: inline-block;
  margin-left: 1cm;
  padding: 8px 15px;
  box-shadow: 15px 15px 15px lightgray;
  cursor: pointer;
}

.download-btn:hover {
  background-color: rgb(241, 72, 72);
  transition: all 400ms ease;
}

.hidden {
  display: none;
}
